
article {
	margin: 0 1em;

	@media (min-width: $large) {
		margin: 0 2em;
	}
}

.code-block {
	background-color: $grayLight;
	border-left: 3px solid $black;
	margin: 0 1em;
	padding: 1em;
	position: relative;

	& > header {
		background-color: $black;
		color: $white;
		display: inline-block;
		font-size: 14px;
		left: 0;
		position: absolute;
		padding: 0.25em 0.5em;
		top: 0;
	}

	& > .source {
		display: inline-block;
		margin-top: 1.25em;
		width: 100%;
	}

	code {
		display: block;
	}
}

.indent {
	margin-left: 1em;
}